{% extends "../layouts/settings.njk" %}

{% block cssblock%}
    {{ super() }}
    <link href="/static/js/gridjs/theme/mermaid.css" rel="stylesheet" type="text/css" >
{% endblock %}

{% block jsblock %}
    {{ super() }}
     <script src='/static/js/settings.js'></script>
     <script src='/static/js/gridjs/gridjs.umd.js'></script>
     <script>
        $(function(){
            $("#http_method").on('change',function(event){
                const source = event.target || event.srcElement;
                const http_method = $(source).val();
                $("#status").setHttpStatusBasedOnHttpMethod(http_method);
            });
            
            $("#status").httpRedirect();

            $(".ajax_form").onSubmitAjax(
               function(data){
                    console.log(data);
                    
                    const titles=["Method",'Url from', 'Redirect to url',"Redirect status code"]

                    if(data.saved_values.length > 0){
                        $("#displayMsg").displayMsg("Entry has been saved sucessfully",'success');
                        document.getElementById('success_tab').innerHTML = "";

                        const table_data = data.saved_values.map(value => [value.method,value.url_from,value.url_to,value.status_code])
                        new gridjs.Grid({
                            columns: titles,
                            data:table_data,
                        }).render(document.getElementById('success_tab'));
                    }

                    if(data.duplicates.length > 0){
                        $("#displayMsg").displayMsg("Some values could not be saved because already exist.",'warning');
                        const table_data = data.duplicates.map(value => [value.method,value.url_from,value.url_to,value.status_code])
                        document.getElementById('duplicates_tab').innerHTML = "";
                        new gridjs.Grid({
                            columns: titles,
                            data:table_data,
                        }).render(document.getElementById('duplicates_tab'));
                    }

                    if(data.errors.length > 0){
                        $("#displayMsg").displayMsg("Some values could not be saved bues to internal error",'error');
                    }

                },
                function( jqXHR, textStatus, errorThrown ){
                    const respJson = JSON.parse( jqXHR.responseText );
                    const message = respJson.error ?? "Could not save the request into the db";
                    
                    $("#displayMsg").displayMsg(message,'error');
                });
        });
        
    </script>
{% endblock %}

{% block main %}
        <h1>Advanced Redirecting</h1>
        <section id="displayMsg" style="margin-bottom:1em;"></section>
        <section id="redirect_url">
            <form class="ajax_form" method="post" action="settings/redirect/advanced">
                <div class="mb-3">
                    <label for="url1" class="form-label">From</label>
                    <input type="text" name="url_from" class="form-control" id="url1" placeholder="https://example.com">
                </div>
                <div class="mb-3">
                    <label for="url2" class="form-label">To</label>
                    <input type="text" name="url_to" class="form-control" id="url2" placeholder="https://example.com">
                </div>
                <div class="mb-3 d-flex flex-row">
                        <select name="http_method m-1" id="http_method" class="form-select"  size="3" aria-label="http method" multiple>
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            <option value="PUT">PUT</option>
                            <option value="PATCH">PATCH</option>
                            <option value="DELETE">DELETE</option>
                        </select>
                        <select id="status" class="form-select m-1 http_status" name="http_status" aria-label="http response status">
                            <option selected>Http Status</option>
                        </select>
                </div>
                <div class="d-flex flex-row">
                    <div class="form-check m-1">
                        <input class="form-check-input" name="exact_match" type="checkbox" id="exact_match">
                        <label class="form-check-label" for="exact_match">
                            Exact Match
                        </label>
                    </div>
                    <div class="form-check m-1">
                        <input class="form-check-input" name="use_for_http" type="checkbox" id="use_for_http">
                        <label class="form-check-label" for="use_for_http">
                        Use in incomming http calls
                        </label>
                    </div>
                    <div class="form-check m-1">
                        <input class="form-check-input" name="use_for_https" type="checkbox" id="use_for_https">
                        <label class="form-check-label" for="use_for_https">
                        Use in incomming https calls
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </section>

        <section id="save_results" style="margin-bottom:1em;">
            <h1>Results</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#success_tab" type="button" role="tab" aria-controls="success_tab" aria-selected="true">Success</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link"  data-bs-toggle="tab" data-bs-target="#duplicates_tab" type="button" role="tab" aria-controls="duplicates_tab" aria-selected="true">Duplicates</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="success_tab" role="tabpanel" aria-labelledby="success-tab" tabindex="0">
                    <span class="text-center">No values exist</span>
                </div>
                <div class="tab-pane fade show" id="duplicates_tab" role="tabpanel" aria-labelledby="duplicates_tab" tabindex="0">
                    <span class="text-center">No values exist</span>
                </div>
            </div>
        </section>
{% endblock %}
