{% extends "../layouts/settings.njk" %}

{% block jsblock %}
    {{ super() }}
    <script src='/static/js/settings.js'></script>
     <script>
        $(function(){
            $("#http_method").on('change',function(event){
                const source = event.target || event.srcElement;
                const http_method = $(source).val();
                $("#status").setHttpStatusBasedOnHttpMethod(http_method);
            });
            
            $("#status").httpRedirect();

            $(".ajax_form").onSubmitAjax(()=>console.log("success"),()=>console.log("fail"),()=>console.log("always"));
        });
        
    </script>
{% endblock %}

{% block main %}
        <section class="page"  id="redirect_url" role="tabpanel" aria-labelledby="redirect_url">
            <h1>Advanced Redirecting</h1>
            <form class="ajax_form" method="post" action="settings/redirect/advanced">
                <div class="mb-3">
                    <label for="url1" class="form-label">From</label>
                    <input type="text" name="url_from" class="form-control" id="url1" placeholder="https://example.com">
                </div>
                <div class="mb-3">
                    <label for="url2" class="form-label">To</label>
                    <input type="text" name="url_to" class="form-control" id="url2" placeholder="https://example.com">
                </div>
                <div class="mb-3 d-flex flex-row">
                        <select name="http_method m-1" id="http_method" class="form-select"  size="3" aria-label="http method" multiple>
                            <option value="GET">GET</option>
                            <option value="POST">POST</option>
                            <option value="PUT">PUT</option>
                            <option value="PATCH">PATCH</option>
                            <option value="DELETE">DELETE</option>
                        </select>
                        <select id="status" class="form-select m-1 http_status" name="http_status" aria-label="http response status">
                            <option selected>Http Status</option>
                        </select>
                </div>
                <div class="d-flex flex-row">
                    <div class="form-check m-1">
                        <input class="form-check-input" name="exact_match" type="checkbox" id="exact_match">
                        <label class="form-check-label" for="exact_match">
                            Exact Match
                        </label>
                    </div>
                    <div class="form-check m-1">
                        <input class="form-check-input" name="use_for_http" type="checkbox" id="use_for_http">
                        <label class="form-check-label" for="use_for_http">
                        Use in incomming http calls
                        </label>
                    </div>
                    <div class="form-check m-1">
                        <input class="form-check-input" name="use_for_https" type="checkbox" id="use_for_https">
                        <label class="form-check-label" for="use_for_https">
                        Use in incomming https calls
                        </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </section>
{% endblock %}
