{% extends "../layouts/settings.njk" %}

{% block jsblock %}
    {{ super() }}
    <script src='/static/js/settings.js'></script>
{% endblock %}

{% block settings_main %}
        <section class="page" id="redirect_https" role="tabpanel" aria-labelledby="redirect_https">
            <h1>Redirect to Https</h1>
            <form class="ajax_form" method="post" action="settings/redirect/https">
                <div class="mb-3">
                    <label for="url1" class="form-label">Url where will be redirected into https</label>
                    <input type="text" name="base_url" class="form-control" id="url1" placeholder="https://example.com">
                </div>

                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </section>
{% endblock %}
