{% extends "../layouts/settings.njk" %}

{% block jsblock %}
    {{ super() }}
    <script src='/static/js/settings.js'></script>
    <script>
        $(function(){
            $('.dropdown-select li').on('click', function(e){
                console.log("Here");
                const source = e.target || e.srcElement;
                console.log(source);

                const idToChangeDisplayVal = $(source).attr('data-handle');
                console.log(idToChangeDisplayVal);

                const inputElement = $(source).attr('data-input');
                console.log(inputElement);

                const value = $(source).attr('data-value')
                console.log(value);

                $(document.getElementById(idToChangeDisplayVal)).text(value);
                $(document.getElementById(inputElement)).val(value);

                $("#status").setHttpStatusBasedOnHttpMethod(value);

            });

            $("#status").httpRedirect();
            $(".ajax_form").onSubmitAjax(
                function(data){
                    console.log("Here");
                    $("#displayMsg").displayMsg("Entry has been saved sucessfully");
                },
                function( jqXHR, textStatus, errorThrown ){
                    const respJson = JSON.parse( jqXHR.responseText );
                    const message = respJson.error ?? "Could not save the request into the db";
                    
                    $("#displayMsg").displayMsg(message,true);
                });
        });


    </script>
{% endblock %}

{% block main %}
        <section class="page" id="redirect_https" role="tabpanel" aria-labelledby="redirect_https">
            <h1>Redirect to Https</h1>
            <div id="displayMsg"></div>
            <form class="ajax_form" method="post" action="settings/redirect/https">
                <div class="mb-3">
                    <div class="input-group">
                        <button id="http_method" class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">GET</button>
                        <ul class="dropdown-menu dropdown-select" >
                            <li><button type="button" class="dropdown-item" data-value="GET" data-input="http_method_val" data-handle="http_method">GET</button></li>
                            <li><button type="button" class="dropdown-item" data-value="POST" data-input="http_method_val" data-handle="http_method">POST</button></li>
                            <li><button type="button" class="dropdown-item" data-value="PUT" data-input="http_method_val" data-handle="http_method">PUT</button></li>
                            <li><button type="button" class="dropdown-item" data-value="PATCH" data-input="http_method_val" data-handle="http_method">PATCH</button></li>
                            <li><button type="button" class="dropdown-item" data-value="DELETE" data-input="http_method_val" data-handle="http_method">DELETE</button></li>                            
                        </ul>

                        <input type="url" name="base_url" class="form-control" id="url" placeholder="Url where will be redirected into https eg. http://example.com">
                    </div>
                </div>
                <div class="mb-3 row m-2">
                    <div class="input-group">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Http Status</label>
                        <div class="col-sm-10">
                            <select id="status" class="form-select m-1 http_redirect" name="http_status" aria-label="http response status"></select>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="http_method_val" name="http_method" value="GET" />
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </section>
{% endblock %}
