node_modules
Dockerfile
LICENCE.txt
README.md
tests
.git
.vscode
config_vol
src/so.js
config/config_dev.json
stackoverflow
DockerfileDev
.gitignore
docker-compose.yml
config/config_local.json
config_vol
.eslintrc.js