<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="{{baseUrl}}">
    <title>{{title}}</title>
    <style>
        body {
            min-width: fit-content;
            margin: 0px;
            display: flex;
            flex-direction: column;
        }
        header {
            align-self: flex-start;
            width: 100%;
            background: #333;
            padding: 10px 0;
            color: #fff;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        nav {
            margin: auto;
        }
        nav a{
            color: #fff;
            padding: 7px 25px;
            display: inline-block;
            text-decoration: none;
        }
        main {
            align-self: flex-start;
            display:inline-block;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        main > * {
            margin: 5px;
            margin-left: 1px;
            max-width: 100%;
        }

        footer {
            align-self: flex-end;
            width: 100%;
            text-align: center;
            background-color: #ddd;
        }

        .center {
            text-align: center;
        }
    </style>
    <link href="/static/css/boostrap/bootstrap.css" rel="stylesheet" type="text/css" >
    <link href="/static/css/boostrap/icon/font/bootstrap-icons.css" rel="stylesheet" type="text/css" >

    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/boostrap/bootstrap.min.js"></script>
    {{#each js}}
        <script src="{{this}}"></script>
    {{/each}}
</head>
<body>

    <header>
        <nav>
            <a href="./" class="center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                </svg> <br>
                <span>
                    Home - Http log List
                </span>
            </a>
            <a href="./vhost" class="center">
                <img src="./static/server.svg" width="50" height="50"  style="margin:none;width:50px;height:50px;"/> <br>
                <span>
                    Virtual Host Management
                </span>
            </a>
            <a href="./licence" class="center">
                <img src="./static/document.svg" width="50" height="50"  style="margin:none;width:50px;height:50px;"/> <br>
                <span>
                    Licence - MIT
                </span>
            </a>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        I am footer
    </footer>
</body>
</html>