<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <base href="{{baseUrl}}">
    <title>{{title}}</title>
    <style>
        body {
            min-width: fit-content;
            margin: 0px;
            display: flex;
            flex-direction: column;
        }
        header {
            align-self: flex-start;
            width: 100%;
            background: #333;
            padding: 10px 0;
            color: #fff;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        #main_nav {
            margin: auto;
        }
        #main_nav a{
            color: #fff;
            padding: 7px 25px;
            display: inline-block;
            text-decoration: none;
        }

        #main_nav a:hover {
            background-color: #bbb;
            color: #fff;
            font-weight: bold;
        }

        main {
            align-self: flex-start;
            display:inline-block;
            box-sizing: border-box;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        footer {
            align-self: flex-end;
            width: 100%;
            text-align: center;
            background-color: #ddd;
        }

        .center {
            text-align: center;
        }
    </style>
    <link href="/static/css/boostrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/boostrap/icon/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    {% block cssblock %}
    {% endblock %}
    {% for stylesheet in css %}
        <link href="{{stylesheet}}" rel="stylesheet" type="text/css" >
    {% endfor %}

    <script src="/static/js/jquery/jquery.min.js"></script>
    <script src="/static/js/boostrap/bootstrap.min.js"></script>
    {% block jsblock %}
    {% endblock %}
    {% for script in js %}
        <script src="{{script}}"></script>
    {% endfor %}
</head>
<body>

    <header class="mb-2">
        <nav id="main_nav">
            <a href="./" class="center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z"/>
                </svg> <br>
                <span>
                    Home - Http log List
                </span>
            </a>
            <a href="./settings" class="center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                        <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                </svg>
                <br>
                <span>
                    Settings
                </span>
            </a>
            
            <a href="./licence" class="center">
                <img src="./static/document.svg" width="50" height="50"  style="margin:none;width:50px;height:50px;"/> <br>
                <span>
                    Licence - MIT
                </span>
            </a>
        </nav>
    </header>
    <div class="container-fluid">
        {% block body %}
        {% endblock %}
    </div>
    <footer>
        I am footer
    </footer>
</body>
</html>