{% extends "./sidebar.njk" %}

{% block cssblock%}
    {{ super() }}
{% endblock %}

{% block jsblock %}
    {{ super() }}
{% endblock %}

{% block sidebar%}
<ul class="main_nav">
    <li class="nav_header">Redirect</li>
    <li class="nav_menu">
        <ul>
            <li><a id="redirect_url_link" class="page_link" href="/settings/redirect/https">Redirect Url to Https</a></li>
            <li><a id="redirect_https_link" class="page_link" href="/settings/redirect/advanced">Advanced Redirecting</a></li>
        </ul>
    </li>
    
    <li class="nav_header">SMS Gateway Mocking</li>
    <li class="nav_menu">
        <ul>
            <li><a id="redirect_url_link" class="page_link" href="#redirect_https">Infobip</a></li>
            <li><a id="redirect_https_link" class="page_link" href="#redirect_url">Twilio</a></li>
        </ul>
    </li>

    <li class="nav_header">Email Provider Mocking</li>
    <li class="nav_menu">
        <ul>
            <li><a id="redirect_url_link" class="page_link" href="#redirect_https">Mandrill/Mailchimp</a></li>
            <li><a id="redirect_https_link" class="page_link" href="#redirect_url">Twilio</a></li>
        </ul>
    </li>
    <li class="nav_header">CRM Mocking</li>
    <li class="nav_menu">
        <ul>
            <li><a id="redirect_url_link" class="page_link" href="#redirect_https">Soft One</a></li>
        </ul>
    </li>
    <li class="nav_header">RPC Mocking</li>
    <li class="nav_menu">
        <ul>
            <li><a id="redirect_url_link" class="page_link" href="#redirect_https">XML RPC</a></li>
        </ul>
    </li>
    <li class="nav_header">MISC</li>
    <li class="nav_menu">
        <ul>
            <li>Upload SSL Certificate</li>
            <li><a href="./licence">Licence</a></li>
        </ul>
    </li>
</ul>
{% endblock %}