{% extends "./main.njk" %}

{% block cssblock %}
    {{ super() }}
    <link href="/static/css/sidepanel.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
<div class="d-flex flex-grow flex-row justify-content-center mb-1">
    <main class="w-50 ml-3 p-1">
        {% block main %}
        {% endblock %}
    </main>
    <nav class="w-25 navigation-left">
       {% block sidebar%}
       {% endblock %}
    </nav>
</div>
{% endblock %}