    <div class="alert alert-warning d-flex alert-dismissible" role="alert">
        <div class="float-start w-10 m-2">
            <i class="bi bi-exclamation-triangle-fill" style="font-size: 4em;"></i>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="float-right">
            <h1>Security Warning:</h1>
            This software is meant and is developped as <b>LOCAL DEVELOPMENT TOOL</b>. 
            <br>It is strongly recomended not to use for production servers or at any remote server.
            <br>It can expose sensitive data to unauthorised persons.
        </div>
    </div>
    <main>
        <h1>Hello</h1>
    </main>

