    <div class="warning">
        <a class="close">&cross;</a>
        <div class="warning-body">
            <h1>Security Warning:</h1>
            This software is meant and is developped as <b>LOCAL DEVELOPMENT TOOL</b>. 
            <br>It is strongly recomended not to use for production servers or at any remote server.
            <br>It can expose sensitive data to unauthorised persons.
        </div>
    </div>
    <h1>Hello</h1>

