<h1 class="center">Settings</h1>
<div class="d-flex flex-row justify-content-center">
    <main class="w-75">
        <h2>Hello</h2>
    </main>
    <nav id="settings_nav" class="w-25 navigation-left">
        <ul>
            <li>
                Redirect
                <ul>
                    <li>Redirect Url to Https</li>
                    <li>Redirect to another page</li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
